{% extends 'base.html' %}
{% block content %}

<div class = "Lister">
<div class = "Up_Listener">
  <ul >
      <ul class = "Center_f" >
            <li><span>{{ match.name_club1 }}</span></li>

      </ul>
      <ul class = "Center_f" >
            <li><span>{{ match.name_club2 }}</span></li>
      </ul>
  </ul>
</div>
<div class = "Down_Listener">
    <ul class = Center_f_data>{{ match.match_date }}</ul>
    <form action="/bet_put/{{match.id_match}}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary" type="submit" name="button">put</button>
    </form>
</div>
</div>
{% endblock %}
