{% extends 'base.html' %}

{% block content %}

<div class = "Lister">
  <ul class = "Lister_2" >
      {% for match in matches %}
      <ul class ="menu">
        {% if q %}
        <a href = "/rate/{{match.id_match}}/">
            <li>{{match.name_club1}} - {{match.name_club2}}</li>
            <li><em>Date</em><span>{{match.match_date}}</span></li>
        </a>

        {% else %}
            <li>{{match.name_club1}} - {{match.name_club2}}</li>
            <li><em>Date</em><span>{{match.match_date}}</span></li>
        {% endif %}
        </ul>

      {% endfor %}
    </li>
  </ul>
</div>
{% endblock %}

