{% extends 'admin_ac/page.html' %}

{% block content_admin %}
<div class="obj_content">
  <div class="obj_content1">
    <table class="table">
        <thead>
          <tr class="w_text">
            <th>
              #
            </th>
            <th>
              club_1
            </th>
            <th>
              club_2
            </th>
            <th>
              date
            </th>
            <th>
              result
            </th>
          </tr>
        </thead>
        <tbody class="bord1">
          {% for item in matches %}
            <tr class="w_text">
              <th scope="row">
              <a href="/admin/match_spec/{{item.id_match}}">{{ item.id_match }}</a>
              </th>
                <td>
                    {{ item.name_club1 }}
                </td>
                <td>
                    {{ item.name_club2 }}
                </td>
                <td>
                    {{ item.match_date }}
                </td>
                <td>
                    {{ item.result }}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="obj_content2">
    <a href="/admin/match_create/">
      <button id="click_me" class="button_add" type="button" name="button">
        <i class="icon-plus btn_i"> </i>
      </button>
    </a>
  </div>
</div>
{% endblock %}
