{% extends 'admin_ac/page.html' %}

{% block content_admin %}
<div class="obj_content">
    <table class="table">
      <thead>
        <tr class="w_text">
          <th>
            #
          </th>
          <th>
            username
          </th>
          <th>
            action
          </th>
          <th>
            date
          </th>
        </tr>
      </thead>
      <tbody class="bord1">
        {% for item in logs %}
          <tr class="w_text">
            <th scope="row">
              {{ item.0 }}
            </th>
              <td>
                {{ item.1 }}
              </td>
              <td>
                {{ item.2 }}
              </td>
              <td>
                {{ item.3 }}
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
